<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Make a Post</title>
  </head>
  <body>
    <ul>
      {{#error}}
        <li>{{message}}</li>
      {{/error}}
    </ul>
    <form class="" action="/edit/{{id}}" method="post">
      <fieldset>
        <legend>Make a Post</legend>
        <div class="post_title">
          <label for="title">Title</label>
          <input type="text" name="title" value="{{title}}">
        </div>
        <div class="post_body">
          <label for="postbody">What's on your mind?</label>
          <textarea name="postbody" rows="8" cols="80">{{postbody}}</textarea>
        </div>
        <div class="submit_button">
            <input type="submit" name="" value="Submit Edit">
        </div>
      </fieldset>
    </form>
  </body>
</html>
